@font-face {
font-family: 'work_sansbold';
src: url('../fonts/worksans-bold-webfont.eot');
src: url('../fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
url('../fonts/worksans-bold-webfont.woff') format('woff'),
url('../fonts/worksans-bold-webfont.ttf') format('truetype'),
url('../fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'work_sanslight';
src: url('../fonts/worksans-light-webfont.eot');
src: url('../fonts/worksans-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/worksans-light-webfont.woff2') format('woff2'),
url('../fonts/worksans-light-webfont.woff') format('woff'),
url('../fonts/worksans-light-webfont.ttf') format('truetype'),
url('../fonts/worksans-light-webfont.svg#work_sanslight') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'work_sansmedium';
src: url('../fonts/worksans-medium-webfont.eot');
src: url('../fonts/worksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/worksans-medium-webfont.woff2') format('woff2'),
url('../fonts/worksans-medium-webfont.woff') format('woff'),
url('../fonts/worksans-medium-webfont.ttf') format('truetype'),
url('../fonts/worksans-medium-webfont.svg#work_sansmedium') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'work_sansregular';
src: url('../fonts/worksans-regular-webfont.eot');
src: url('../fonts/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
url('../fonts/worksans-regular-webfont.woff') format('woff'),
url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
url('../fonts/worksans-regular-webfont.svg#work_sansregular') format('svg');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'work_sanssemibold';
src: url('../fonts/worksans-semibold-webfont.eot');
src: url('../fonts/worksans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/worksans-semibold-webfont.woff2') format('woff2'),
url('../fonts/worksans-semibold-webfont.woff') format('woff'),
url('../fonts/worksans-semibold-webfont.ttf') format('truetype'),
url('../fonts/worksans-semibold-webfont.svg#work_sanssemibold') format('svg');
font-weight: normal;
font-style: normal;

}

/* Webkit */
::-webkit-input-placeholder {color: #999;}

/* Firefox 4-18 */
:-moz-placeholder {color:#999;}

/* Firefox 19+ */
::-moz-placeholder {color:#444;}

/* IE10+ */
*:-ms-input-placeholder {color: #999!important;}

html {width: 100%;}
.clr {clear: both;}
body{width: 100%;font-family: 'work_sansregular', sans-serif;letter-spacing: 0.2px;-webkit-font-smoothing: antialiased;color: #333;}

h1,h2,h3,h4,h5,h6 {font-weight: normal; font-family: "work_sanssemibold",sans-serif;}
select::-ms-expand{display:none;}
select{ -webkit-appearance:none;  -moz-appearance:none; }
dl, dt, dd, ol, ul, li {margin: 0;padding: 0; list-style-type: none;}
a:active,select , a:focus , a:hover{ outline: none !important; text-decoration: none!important;}

.company-url{position: fixed; top: 0; right: 0; text-indent: 0px; width: 0; }

/*dropdown css start*/
.select-style {padding: 0;width: 100%;height:35px;background-position: center right;background-color: #fff; background-image:  url('../images/drop-arrow.png'); background-repeat:  no-repeat;display:inline-block;color:#999;border: 1px solid #ccc;border-radius: 3px;}
.select-style select {padding:0 2px; width: 100%;color:#333; border: none; box-shadow: none;background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;text-indent: 3px; height: 100%;}
.main-search-box .select-style select{font-size: 15px;}
.select-style select:focus {outline: none;}
.select-style option{padding: 2px 5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.select-style select{text-indent:14px !important;}.sign-drop.select style select{text-indent: 0!important;}}
/*dropdown css end*/

/*header start*/
/*header {position: absolute;top: 0;z-index: 9;width: 100%;padding: 20px 15px;}*/
header{background: #000000; padding: 10px 15px; position: fixed; width: 100%; z-index: 9999;}
.homepage-header header{position: absolute;top: 0;z-index: 9;width: 100%;padding: 10px 15px; background-color: transparent;}
.homepage-header.sticky header{background-color: rgba(0, 0, 0, 0.9); position: fixed; width: 100%; z-index: 999;}
.blank-div{height: 94px;}
.homepage-header .blank-div{display: none;}
.menu-logo-block{float: left;}
.menu-section-block{float: right; margin-top: 16px;}
.login-menu {text-align: right;}
.login-menu li {display: inline-block;vertical-align: middle;padding-left: 15px;}
.login-menu li a {color: #fff;font-size: 14px;font-family: 'work_sanssemibold',sans-serif;letter-spacing: 0.8px;text-transform: uppercase;border: 2px solid #fff;display: block;padding: 11px 25px;border-radius: 30px;height: 42px;}
.login-menu li a:hover {background-color: #b70404;border: 2px solid #b70404;transition: 0.3s;}
.menu-icon, .sidenav .closebtn, .banner-img-block{display: none;}
.overlay {overflow: hidden; z-index: 999; background: rgba(0,0,0,0.6); position: fixed; width: 100%; height: 100%;}
.mobile-menu{display: none;}
/*header end*/

/* country-drop */
.wrapper-dropdown-1 {color: #fff; cursor: pointer; font-size:16px; margin: 0 auto;outline: medium none; position: relative; width: 110px; text-align: left;}
.wrapper-dropdown-1:after{content: "\f0d7"; height: 0; margin-top: -9px; position: absolute; right: 16px; top: 40%; width: 0; font-family: 'FontAwesome'; font-style: normal;
    font-weight: normal; text-decoration: inherit;}
.wrapper-dropdown-1 .dropdown {background: rgba(0, 0, 0, 0.7); top: 40px; font-weight: normal; left: 14px; list-style: none outside none; margin: 0; opacity: 0; padding: 0; pointer-events: none; position: absolute; right: 0; transform: translateY(-15px); visibility: hidden; transition: 0.5s;}
.wrapper-dropdown-1 .dropdown:before{width: 0; height: 0;  border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid black; content: ""; position: absolute; top: -9px; left: 11px;}
#new_word{display: block}
#new_word span{vertical-align: middle; display: inline-block;}
.wrapper-dropdown-1 .dropdown li a {color: #ffffff; display: block; padding: 8px 10px; text-decoration: none; border: none; font-family: 'work_sansregular';}
.wrapper-dropdown-1 .dropdown li a span{vertical-align: middle; display: inline-block; text-transform: none;}
.wrapper-dropdown-1 .dropdown li:hover a {background-color: transparent;}
.wrapper-dropdown-1.active .dropdown {opacity: 1; pointer-events: auto;}
.wrapper-dropdown-1.active:after {border-color: #9bc7de transparent; border-width: 0 7px 7px;}
/*.wrapper-dropdown-1.active {background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}*/
.wrapper-dropdown-1.active .dropdown{visibility: visible; opacity: 1; transform: translateY(0px);}
/*
.no-opacity .wrapper-dropdown-1 .dropdown, .no-pointerevents .wrapper-dropdown-1 .dropdown {display: none; opacity: 1; pointer-events: auto;}
.no-opacity .wrapper-dropdown-1.active .dropdown, .no-pointerevents .wrapper-dropdown-1.active .dropdown {display: block;}
*/

.wrapper-dropdown-1 .dropdown li{padding: 0; width: 100%;}

 /*country-drop end */

/*index page start*/
.home-banner-wrapper{position: relative;}
.banner-overlay-block{position: absolute; left: 0; top: 0; width: 100%; height: 400px;}
.home-banner-wrapper .carousel-caption {padding: 0;top: 0;bottom: 0;height: 230px;margin: auto;left: 0;right: 0;}
.home-banner-wrapper .carousel-caption h3 {font-size: 34px;text-shadow: none;color: #fff;margin: 0;}
.home-banner-wrapper .carousel-caption h3 span{font-family: 'work_sanslight',sans-serif;}
.home-banner-wrapper .carousel-caption h1{font-size: 70px;color: #fff;text-shadow: none;margin: 20px 0 45px;}
.main-search-box {max-width: 865px;width: 100%;margin: 0 auto;height: 60px;background-color: #fff;border-radius: 45px;padding-left: 15px;position: relative;}
.main-search-box input, .main-search-box .select-style {width: 27%;display: inline-block;float: left;background-color: transparent;height: 60px;}
.main-search-box input{border: none;padding: 0 10px;font-size: 15px;color: #333333;border-right:1px solid #d5d5d5;}
.main-search-box .select-style{border: none;border-radius: 0;}
.search-btn {background-color: #b70404;border: 1px solid #b70404;height: 50px;padding: 16px 0;width: 154px;border-radius: 30px;
position: absolute;right: 4px;top: 5px;font-size: 15px;font-family: 'work_sanssemibold',sans-serif;text-transform: uppercase;}
.search-btn:hover {background-color: #fff;color: #b70404;transition: 0.3s;}
.home-banner .carousel-indicators li{border: 2px solid #fff;}
.home-banner .carousel-indicators .active{background-color: #b70404;border: 2px solid #b70404;}
.home-banner .carousel-inner>.item>a>img, .carousel-inner>.item>img {width: 100%;}

/*transportation & cargo section start here*/
.section-head-block .head-section{font-family: 'work_sanslight'; color: #333333; font-size: 44px; text-align: center;}
.section-head-block .head-section span{font-family: 'work_sansmedium'; color: #b70404;}
.gray-box-main{background: #f5f5f5; padding: 25px 0 50px;}
.section-content-block p{font-family: 'work_sanslight'; font-size: 18px; color: #333333; line-height: 30px; text-align: center; margin-top: 20px;}
.read-more-btn{max-width: 184px; height: 40px; width: 100%; border-radius: 30px; border: 2px solid #d0d0d0; font-family: 'work_sansmedium'; font-size: 15px; color: #b90c0c; margin: 0 auto; display: block; margin-top: 40px; text-transform: uppercase; padding: 8px 8px 8px 36px; transition: 0.5s; position: relative;}
.read-more-btn:hover{background: #b90c0c; color: #ffffff; border-color: #b90c0c;}
.read-more-btn span {position: absolute; right: 30px; top: 8px; transition: 0.5s;}
.read-more-btn:hover span{right: 14px;}
/*transportation & cargo section end here*/
/*truck & customer section start here*/
.truck-customer-block{padding: 20px 0;}
.truck-icon-block{max-width: 54px; width: 100%; height: 63px; background-image: url(../images/images.png); background-repeat: no-repeat; background-position: 0 -99px;}
.truck-icon-block.truck-customer-block{background-position: -61px -75px; max-width: 84px; height: 60px;}
.truck-icon-block, .truck-count-block{display: inline-block; vertical-align: middle;}
.truck-count-block{font-family: 'work_sansbold'; font-size: 24px; color: #333333; margin-left: 30px;}
.truck-count-block span{font-size: 24px; font-family: 'work_sansregular'; color: #b70404;}
.truck-section-block{text-align: center;}
.border-right{border-right: 1px solid #d5d5d5;}
/*truck & customer section end here*/
/*why choose us section start here*/
.why-choose-us-section{background: #b70404; padding: 30px 0; text-align: center;}
.heading-why-choose{font-size: 44px; color: #ffffff; font-family: 'work_sanslight';}
.heading-why-choose span{font-family: 'work_sansmedium';}
.book-online-icon{max-width: 41px; width: 100%; height: 70px; background-image: url(../images/images.png); background-repeat: no-repeat; background-position: left top; margin: 0 auto;}
.heading-book-online{font-size: 20px; color: #ffffff; font-family: 'work_sanssemibold'; margin-top: 25px; margin-bottom: 6px;}
.book-online-content{font-size: 16px; color: #ffffff; line-height: 22px;}
.read-more-online .read-more-btn{color: #ffffff; text-align: left; border: none; padding-top: 10px; margin-top: 30px;}
.read-more-online .read-more-btn span{top: 10px;}
.read-more-online .read-more-btn:hover{background-color: #ffffff; color: #b70404;}
.lowest-price-section .book-online-icon{max-width: 54px; background-position: -43px top;}
.tracking-support .book-online-icon{max-width: 52px; background-position: -98px top;}
/*why choose us section start here*/
/*testimonial slider block start here*/
.testimonial-slider-main{text-align: center; padding: 45px 0; background-image: url(../images/notification-icon-img.png); background-repeat: no-repeat; background-position: center center;}
.testimonial-slider-main .section-head-block .head-section{margin-top: 0;}
.testimonial-slider-main .stars-block{float: none; margin: 5px 0 10px;}
.testimonial-slider-main .stars-block i{font-size: 24px; color: #bdbdbd;}
.testimonial-slider-main .stars-block .star-acti{color: #febf00;}
.testimonial-slider-main .section-content-block p{font-size: 20px; max-width: 800px; width: 100%; margin: 20px auto 10px;}
.review-message{font-size: 18px; color: #272727; line-height: 30px; max-width: 910px; width: 100%; margin: 0 auto;}
.review-message i{color: #272727;}
.testimonial-user{height: 60px; width: 60px; border-radius: 50%; margin: 30px auto 10px;}
.testimonial-user img{height: 100%; width: 100%; border-radius: 50%;}
.testimonial-user-name{font-size: 16px; color: #272727;}
.testimonial-user-web{color: #8d8d8d;}
/*testimonial slider block start here*/

/*footer section start here*/
.footer-bg{background: #333333; padding: 40px 0 0;}
.footer_heading{font-size: 18px; font-family: 'work_sanssemibold'; color: #ffffff; text-transform: uppercase; margin-bottom: 10px;}
.menu_name ul li a{font-size: 15px; color: #afafaf; padding: 10px 0; display: block;}
.menu_name.points-footer.social-icon-links ul li a{padding: 5px 0;}
.menu_name ul li a:hover{color: #ffffff;}
.menu_name ul li a .bullet-point{font-size: 8px; color: #b70404; margin-right: 8px;}
.menu_name ul li a span{display: inline-block; vertical-align: middle; }
.menu_name ul li a .menu-icon-block{float: left; width: 35px; height: 35px; border-radius: 50%; background: #484848; color: #ffffff; text-align: center; display: block; font-size: 18px; line-height: 38px;}
.menu_name ul li a .address-section-footer{margin-left: 50px; display: block;}
.menu_name ul li.mail-section-block a .address-section-footer{padding: 7px 0;}
.menu_name ul li.mail-section-block a .menu-icon-block{font-size: 16px;}
.menu_name.social-icon-links .menu-icon-block{height: 40px; width: 40px;} 
.menu_name.social-icon-links ul li a .menu-icon-block{float: none; display: inline-block; line-height: 44px;}
.menu_name.social-icon-links ul li a .address-section-footer{display: inline-block; margin-left: 10px;}
.menu_name{display: none;}
.down-arrow{display: none;}
.copyright{border-top: 1px solid #585858; padding: 15px 0; color: #ffffff; text-align: center; margin-top: 50px;}
/*footer section end here*/
/*index page end*/

/*login page start here*/
.login-wrapper {background: #ffffff; position: relative; overflow: hidden;}
.login-banner-block {max-width: 490px; padding: 150px 0; width: 100%; position: relative; z-index: 9;}
.login-banner-block h1 {color: #ffffff; font-family: 'work_sanssemibold'; font-size: 64px; margin: 0; text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.7);}
.login-banner-block h2{color: #ffffff; font-family: 'work_sanssemibold'; font-size: 30px;}
.login-banner-block p {color: #ffffff; margin-bottom: 40px; font-size: 18px; line-height: 26px;}
.login-banner-block h5 {color: #ffffff; letter-spacing: 0.4px; font-family: 'poppinsMedium',sans-serif; font-size: 15px;}
.login-bg {background-color: #ffffff; padding: 0; position: relative;}
/*.login-wrapper-main .signup-back.sign-back2 img, .login-wrapper-main .login-section {height: 840px;}*/
.login-wrapper::after {background: url("../images/login-banner.jpg"); background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-size: auto  auto; background-size: cover; background-repeat: no-repeat; background-position: center center; content: ""; height: 100%; left: 0; padding: 0; position: absolute; top: 0;    width: 50%;}
.login-wrapper::before{background: url("../images/login-form-bg.png"); background-repeat: repeat; background-position-x: 0%; background-position-y: 0%; background-size: auto auto; background-size: cover; background-repeat: no-repeat; background-position: center center; content: ""; height: 100%; left: 50%; padding: 0; position: absolute; top: 0;     width: 50%; z-index: 9;}
.login-section {margin: 0 auto; max-width: 510px; padding: 140px 0; position: relative; text-align: center; width: 100%; /*height: 840px;*/ z-index: 99;}
.login-section h1 {color: #292929; font-size: 40px; margin: 0 0 10px; font-family: 'work_sansregular';}
.login-section > h5 {color: #292929; font-family: 'work_sanslight',sans-serif; font-size: 17px; margin: 0 0 30px;}
.login-tabs {margin: 30px 0 0;}
.form-group{position: relative; margin-bottom: 30px;}
.form-group input{height: 40px; width: 100%; border: 1px solid #c2c2c2; border-radius: 3px; padding: 0 15px; color: #333333;}
.form-group.wrong-info input{border-color: #f50001;}
.form-group label{position: absolute; left: 15px; top: 10px; font-family: 'work_sanslight',sans-serif; font-size: 16px; color: #8e8e8e; font-weight: normal; transition: 0.3s;}
.form-group.active label{top: -8px; font-size: 13px; color: #333333; display: inline-block; background: #ffffff; padding: 0 3px;}
.error {color: #f50001; font-family: 'work_sanslight',sans-serif; font-size: 13px; position: absolute;}
.check-box p {float: left; text-align: left; margin: 0px;}
.forget-pw {color: #363636; font-size: 16px; float: right; font-family: 'work_sanslight',sans-serif; text-decoration: underline;}
.login-button{height: 40px; border-radius: 25px; width: 100%; display: block; background: #b70404; color: #ffffff; font-size: 16px; font-family: 'work_sanssemibold'; text-transform: uppercase; line-height: 42px; margin-top: 30px; border: 1px solid #b70404; }
.login-button:hover{background-color: transparent; color: #b70404;}
.dont-have-account{font-size: 15px; color: #363636; font-family: 'work_sanslight'; margin-top: 30px;}
.dont-have-account a{font-size: 18px; color: #b70404}
/*checkbox css start*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {position: absolute;left: -9999px;visibility: hidden; }
[type="checkbox"] + label {position: relative;padding-left: 27px;cursor: pointer;display: inline-block;height: 21px;line-height: 22px; font-weight: normal;
font-size:16px;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;color: #363636; font-family: 'work_sanslight';}
[type="checkbox"].filled-in + label:after {border-radius: 0px; }[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {content: '';left: 0;position: absolute;
transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
z-index: 1; }
[type="checkbox"].filled-in:not(:checked) + label:before {width: 0;height: 0;border: 3px solid transparent;left: 6px;top: 10px;
-webkit-transform: rotateZ(37deg);transform: rotateZ(37deg);-webkit-transform-origin: 20% 40%;transform-origin: 100% 100%; }
[type="checkbox"].filled-in:not(:checked) + label:after {height: 20px;width: 20px;background-color: transparent;border: 1px solid #5a5a5a; top: 0px;z-index: 0; }
[type="checkbox"].filled-in:checked + label:before {top: 4px;left: 3px;width: 6px;height: 10px;border-top: 2px solid transparent;
border-left: 2px solid transparent;border-right: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: rotateZ(37deg);
transform: rotateZ(37deg);-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%; }
[type="checkbox"].filled-in:checked + label:after {top: 0px;width: 20px;height: 20px;border: 2px solid #b70404;background-color: #b70404; z-index: 0; border-radius: 3px;}
[type="checkbox"].filled-in:disabled:not(:checked) + label:before {background-color: transparent;border: 2px solid transparent; }
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {border-color: transparent;background-color: #BDBDBD; }
[type="checkbox"].filled-in:disabled:checked + label:before {background-color: transparent; }
[type="checkbox"].filled-in:disabled:checked + label:after {background-color: #BDBDBD;border-color: #BDBDBD; }
/*checkbox css end*/

/*login footer*/
.footer-copyright{background: #292929; text-align: center; padding: 15px 0; color: #ffffff; font-size: 15px;}
/*login page end here*/

/*sign up page start here*/
.form-group select{width: 100%; height: 40px; border: 1px solid #cdcdcd; background-color: transparent; border-radius: 3px; color: #333333; background-image: url(../images/drop-arrow.png); background-position: right center; background-repeat: no-repeat; padding: 0 13px;}
.select-form-block{background: #ffffff;}
.select-form-block .form-group{margin-bottom: 0;}
.login-section.step-one-form{transition: 0.5s;}
.login-section.step-two-form{transition: 0.5s; position: absolute; top: 35px; transform: translateX(500px); visibility: hidden; opacity: 0; padding-left: 30px; /*width: 0px;*/ z-index: 999; left: 37px;}
.sign-up-main .login-section{padding: 0;}
.sign-up-main{padding: 140px 0; height: 860px;}
.login-wrapper.active .login-section.step-one-form{transform: translateX(-30px); visibility: hidden; opacity: 0;}
.login-wrapper.active .login-section.step-two-form{transform: translateX(0px); visibility: visible; opacity: 1; width: 100%;}
.back-btn-block{left: 0; position: absolute; top: -206px;}
.back-btn-block a.btn-back-block{height: 25px; width: 40px; background-image: url(../images/images.png); background-position: -264px -78px; display: block; position: absolute;}
.login-section.step-two-form h5{color: #292929; font-family: 'work_sanslight',sans-serif; font-size: 17px; margin: 0 0 30px;}


/*left bar section start here*/
.left-bar-main-section{box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);}
.profile-info-block{padding: 20px 0;}
.profile-img-block{height: 100px; width: 100px; border-radius: 50%; overflow: hidden; margin: 0 auto 10px;}
.profile-img-block img{border-radius: 50%; height: 100%; width: 100%;}
.profile-name-block{font-size: 18px; color: #333333; font-family: 'work_sansmedium', sans-serif; text-align: center;}
.profile-address-block{font-size: 15px; color: #333333; font-family: 'work_sanslight', sans-serif; text-align: center;}
.main-menu-left-bar a.menu-name-block{display: block; color: #333333; padding: 12px 22px; border-top: 1px solid #ebebeb; font-size: 18px; font-family: 'work_sanslight', sans-serif;}
.main-menu-left-bar a.menu-name-block.active, .main-menu-left-bar a.menu-name-block:hover{background: #b70404; color: #ffffff; border-color: #a90202;}
.hi-icon-wrap.hi-icon-effect-8{display: inline-block; vertical-align: middle; margin-right: 12px; height: 23px;}
.menu-span-main{display: inline-block; vertical-align: middle}
.main-menu-left-bar .drop-downmenu{background: #f7f7f7;}
.main-menu-left-bar .drop-downmenu li a{padding: 10px 10px 10px 60px; display: block; color: #333333; font-size: 16px; font-family: 'work_sanslight', sans-serif;}
.main-menu-left-bar .drop-downmenu li a:hover, .main-menu-left-bar .drop-downmenu li a.active{color: #b70404;}
.arrow-down{font-size: 22px; line-height: 10px; display: block; float: right; margin-top: 6px;}
.arrow-down .fa-angle-down{display: none;}
.arrow-down i{line-height: 10px;}
.main-menu-left-bar a.menu-name-block.active .arrow-down .fa-angle-down{display: block;}
.main-menu-left-bar a.menu-name-block.active .arrow-down .fa-angle-right{display: none;}
.inner-content-main{padding: 50px 0;}
/*left bar section end here*/


/*my profile account page start here*/
.page-head-breadcome{background: #f5f5f5; padding: 10px 0;}
.page-head-block{font-size: 22px; color: #292929; float: left;}
.breadcome-section{float: right; color: #363636; margin-top: 4px;}
.breadcome-section li{display: inline-block; color: #363636; font-size: 13px}
.breadcome-section li a{color: #b70404;}
.white-main-form{background-color: #ffffff; box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); padding: 30px;}
.white-main-form .select-form-block .form-group{margin-bottom: 30px;}
.white-main-form .login-btn{display: inline-block; float: right; max-width: 179px; width: 100%;}
.white-main-form .login-btn .login-button{ margin-top: 0; display: block;}
/*my profile account page end here*/

/*closed my load page page start here*/
.table-white-section{padding: 0;}
.table{margin-bottom: 0px;}
.main-wrapper {margin-top: 30px;}
.user-detail-panel{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20); background-color: #ffffff;}
.transactions-table.table-responsive { border: none 0; max-width: 100%; overflow-x: auto;}
.transactions-table .table > tbody > tr > td{ border-top: none 0;}
.transactions-table .table {width: 100%; display: table;}
.transactions-table .table-row{ display: table-row; width: 100%;}
.transactions-table .table-row:hover{background: #f6f6f6;}
.transactions-table .table-cell{display: table-cell; vertical-align: middle; padding: 14px 15px; text-align: left; color:#292929; border-top: none 0; font-family: 'work_sanslight', sans-serif; font-size: 15px;}
.transactions-table .heading .table-cell{color:#292929; padding: 15px 15px 12px 15px; font-family: 'work_sanssemibold', sans-serif; border-bottom: solid 1px #cccccc; text-transform: uppercase; font-size: 13px;}
.transactions-table .table-row:hover .table-cell{color: #000000;}
.description { max-width: 305px; display: inline-block;text-overflow: ellipsis; overflow-x: hidden; white-space: nowrap}
.transactions-table div.table-cell::before{display: none;}
.icon-btn {font-size: 18px; color: #8d96a0; margin-right: 22px;}
.icon-btn:hover{color: #23bcae;}
.table-row .table-cell.transaction-order-name{border-left: solid 1px #cccccc; border-right: solid 1px #cccccc;}
.transactions-table .table-cell.success {color:#33AA27;}
.transactions-table .table-cell.pending {color:#b70404;}
.table-cell.reviews-rating span{font-family: 'work_sansmedium', sans-serif;}
.table-cell.action a{font-size: 17px; color: #acacac; text-align: center; margin: 0 3px;}
.table-cell.action{text-align: center;}
.transactions-table .table-row:hover .table-cell.action a{color: #b70404;}
/*pagination css*/
.pagination{text-align: right; display: block; margin: 30px 0 0;}
.pagination ul li{display: inline-block; vertical-align: middle; margin: 0 3px;}
.pagination ul li a{display: block; height: 30px; width: 30px; border-radius: 3px; font-size: 16px; color: #333333; background: #ffffff; padding-top: 4px; text-align: center; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-radius: 50%; font-family: 'work_sanssemibold', sans-serif;}
.arrow-white{display: none;}
.pagination ul li:first-child a, .pagination ul li:last-child a{padding-top: 3px; font-size: 18px;}
.pagination ul li a:hover, .pagination ul li a.active{background: #db1c24; color: #ffffff}
.pagination ul li a:hover .arrow-white{display: inline-block;}
.pagination ul li a:hover .arrow-red{display: none;}
/*pagination css*/
/*closed my load page page end here*/

/*closed my load view details page start here*/
.view-content-head{font-size: 15px; color: #333333; font-family: 'work_sanslight', sans-serif; margin-bottom: 3px;}
.view-content-txt{font-size: 17px; color: #333333; font-family: 'work_sansmedium', sans-serif;}
.view-content-details{border-bottom: 1px solid #e7e7e7; margin-bottom: 15px; padding-bottom: 15px;}
.view-content-details:last-child{border: none; margin: 0; padding: 0;}
/*closed my load view details page end here*/

/*rejected my load view details page start here*/
.revievs-main-count-block {background: #ffffff; padding: 30px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10); margin: 30px 0;}
.revievs-main-count-block .main-count {font-family: 'work_sanssemibold', sans-serif; color: #db1c24; font-size: 40px; float: left; margin-right: 10px;}
.revievs-main-count-block h3 {color: #686868; font-size: 15px; margin: 5px 0 0 0; font-weight: normal; font-family: 'work_sansregular', sans-serif;}
.revievs-main-count-block h3 span{font-family: 'work_sanssemibold', sans-serif; font-size: 15px;color: #686868; }
.rating-white-block.marg-top {margin-top: 30px;}
.rating-white-block {background: #ffffff; padding: 20px 30px 30px 30px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10); margin-bottom: 30px; position: relative;}
.review-profile-image {height: 76px; width: 76px; overflow: hidden; border-radius: 50%; float: left;}
.review-content-block {margin-left: 100px;}
.review-send-head {font-size: 18px; color: #303538; font-family: 'work_sansmedium', sans-serif; margin-bottom: 2px;}
.rating-review-stars{margin-bottom: 12px;}
.start-rate-count-blue {background: #5eaeed; color: #ffffff;  padding: 7px; border-radius: 3px; font-size: 13px; font-family: 'work_sansbold', sans-serif; width: 33px;     height: 31px;  display: inline-block; text-align: center; margin-right: 7px;}
.stars-block i {color: #dfdfdf; font-size: 16px; margin-right: 4px;}
.stars-block .star-acti {color: #eca819;}
.review-rating-message {font-family: 'work_sanslight', sans-serif; color: #333333; line-height: 20px; font-size: 15px;}
.review-rati-grey {background-color: #f3f3f3; padding: 20px; margin-top: 30px; position: relative;}
.review-rati-grey:before{content: ""; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid #f3f3f3; position: absolute; top: -13px; right: 50px;}
.review-profile-image.small {height: 50px; width: 50px;}
.review-rati-grey-text-blo {margin-left: 70px;}
.review-rati-grey-text-blo h1 {font-family: 'work_sansmedium', sans-serif; color: #292929; font-size: 16px; margin: 0 0 5px;}
.review-rati-grey-text-blo h2 {font-family: 'work_sanslight', sans-serif; color: #686868; font-size: 14px; margin: 0 0 13px 0;}
.review-rati-grey-text-blo h3 {font-family: 'work_sansregular', sans-serif; color: #393939; font-size: 15px; margin: 0 0 5px;}
.review-rati-grey-text-blo h4 {font-family: 'work_sanslight', sans-serif; color: #393939; font-size: 15px; margin: 0; line-height: 20px; overflow: hidden; height: 38px;}


/*track container page start here*/
.autocomplete-suggestions {text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1); position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;}
.autocomplete-suggestion {position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333;}
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

#hero-demo{height: 40px; width: 100%; border: 1px solid #c2c2c2; border-radius: 3px; padding: 0 15px;}
.map-section iframe{width: 100%; height: 380px; border: none;}


/*about us page start*/
.why-choose-block {text-align: center;padding: 70px 0 0;}
.why-choose-block h1 {font-size: 40px;margin: 0 0 20px;font-family: 'work_sansmedium',sans-serif;letter-spacing: 0.4px;}
.why-choose-block h1 span{color: #b70404;}
.why-choose-block p {font-size: 16px;margin: 0;letter-spacing: 0.4px;line-height: 22px;max-width: 915px;width: 100%;margin: 0 auto;
font-family: 'work_sanslight',sans-serif;}
.why-choose-truck-img img, .services-img img {margin: 0 auto;}
.why-choose-red-block {background-color: #b70404;padding: 130px 0 30px;margin-top: -54px;}
.why-choose-services p {color: #fff;line-height: 20px;letter-spacing: 0.4px;font-size: 14px;font-family: 'work_sansregular',sans-serif;
margin: 0 0 30px;height: 60px;overflow: hidden;}
.why-choose-services h4 {color: #fff;margin: 25px 0 15px;font-size: 20px;height: 22px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.why-choose-services .read-more {color: #fff;text-transform: uppercase;font-size: 15px;font-family: 'work_sanssemibold',sans-serif;padding: 12px 20px 9px;border-radius: 29px;display: inline-block;margin: 0 0 40px;}
.why-choose-services .read-more:hover {background-color: #860000;transition: 0.3s;}
.services-img {width: 88px;height: 62px;display: block;margin: 0 auto;background-repeat: no-repeat;background-image: url(../images/images.png);}
.services-img.import-img {background-position: -311px -69px;}
.services-img.delivery-img {background-position: -323px 0px; width: 67px}
.services-img.customerimg {background-position: -261px -2px; width: 56px; height: 60px}
.why-choose-truck-img {margin: 45px 0 0;}
.logistick-services-wrapper {position: relative;}
.logistick-service-img {position: absolute;top: 0;left: 0;  width: 70%;background-color: #f5f5f5;height: 100%;}
.logistic-block {position: relative;background-color: #fff;padding: 60px 0 0 60px;min-height: 550px;margin-left: -15px;}
.logistic-block h1 {font-size: 44px;font-family: 'work_sanslight',sans-serif;letter-spacing: 0.4px;margin: 0 0 25px;line-height: 50px;}
.logistic-block h1 span{color: #b70404;font-family: 'work_sansmedium',sans-serif;}
.logistic-block p{font-size: 14px;font-family: 'work_sanslight',sans-serif;margin: 0 0 10px;line-height: 20px;letter-spacing: 0.6px;}
.logistic-block ul li {font-size: 14px;font-family: 'work_sansmedium',sans-serif; padding: 0 0 15px 0px;width: 48%;display: inline-block;vertical-align: top;}
.logistic-block ul li span{background-image: url(../images/images.png);background-repeat: no-repeat;background-position: -66px -147px; height: 16px; width: 16px; display: inline-block; margin-right: 10px;}
.logistic-block ul {padding: 10px 0 0;}
.about-tesimonial {position: relative;background-color: #f9f9f9;padding: 15px 0;}
/*about us page end*/

/*Faq page start here*/
.headding-text-block {float: left; margin-left:0;}
.headding-text-block span { font-size: 16px; color: #575757; margin: 0; position: relative;}
.bredcrum a{font-size: 16px; color: #9f9f9f; text-decoration: none; position: relative;  letter-spacing: 0.8px;}
.bredcrum{color: #9f9f9f;  text-align: right; }
.bredcrum a:hover{color: #780014;}
.active {color: #9f9f9f; font-size: 16px;}
.arrow-righ{margin: 0 5px;}
.header-bg-block.faq{padding: 0;}
.redeem-offer-main.faq{margin-top: 90px; background-color: #f7f7f7; padding-left: 0;}
.frequently-as h1{ font-size: 34px; color: #3c3c3c; line-height: 26px; margin: 50px 0;font-family: 'work_sanslight',sans-serif;}
.search-block-fag{ margin-top: 39px;}
.search-block-fag .form-group {position: relative; margin-bottom: 20px;}
.search-block-fag .form-group input {height: 40px; padding-right: 30px;}
.search-block-fag input {border: 1px solid #dfe3e6; display: block; font-size: 16px; height: 50px; padding: 0 10px; padding-right: 10px; width: 100%;}
input.input-box{color: #a4b4be; font-family: 'work_sanslight';}
.search-block-fag .form-group .search-ico a {position: absolute; top: 10px; right: 10px; color: #cc202e; font-size: 16px; }
/*accordian css start*/
a:hover, a:focus{text-decoration: none;}
#faq_acc,#faq_acc ul,#faq_acc li,#faq_acc a {position: relative; margin: 0;list-style-type: none;padding: 0;}
#faq_acc a {line-height: 1.3;}
#faq_acc {}
#faq_acc > ul > li {margin: 0 0 20px 0; list-style: outside none none;}
#faq_acc > ul > li:last-child {margin: 0;}
#faq_acc > ul > li > a {background: #fff ;border-bottom: 1px solid #d8d8d8; color:#08213D;display: block;font-size: 16px; min-height: 48px;position: relative;}
.has-sub.active > a:focus{text-decoration: none!important;}
#faq_acc > ul > li > a:hover {text-decoration: none!important;}
#faq_acc > ul > li.active {border-bottom: none; }
#faq_acc > ul > li.active > a {border-bottom: medium none; border-bottom:2px solid #b70404;}
.active1 {color: #3498db !important;font-size: 14px !important;color: #3498db !important;}
.faq-text {color: #3c3c3c; font-size: 16px; padding-top: 10px; line-height: 25px;  text-transform: none; padding: 15px 0 13px;}
#faq_acc .has-sub > ul {background-color: transparent;display: none;padding:0px 35px 10px;border: 1px solid #d8d8d8;margin: 10px 0 0;}
#faq_acc {margin-bottom: 22px;}
.keyword_bx > div:last-child {margin-bottom: 0 !important;}
/*accordian css end*/
.ask-your-quest-main{margin: 18px 0 50px; padding-top: 35px; border-top: 1px solid #e9e9e9;}
.ask-your-quest-main h1 {font-size: 34px;color: #333;margin: 0 0 32px;font-family: 'work_sanslight',sans-serif;}
/*.form-group.faq input{height: 38px;}*/
/*.form-group.faq label{top: 11px;}*/
/*.form-group.text-are label{top: 10px;}*/
/*.form-group.text-are input{height: 180px;}*/
.Submit-faq-btn{background-color: #cc202e;border: 1px solid #cc202e;border-radius: 25px;color: #fff;font-size: 16px;height: 40px;display: block;padding:4px 0 0;text-align: center;width: 160px;text-transform: uppercase;margin-left: auto;font-family: 'work_sanssemibold',sans-serif;}
.Submit-faq-btn:hover{background-color: transparent;  color: #cc202e;transition: 0.3s;}
.search-block-fag .form-group.search input{ font-size: 16px; color: #878787;}
.form-group.faq .text-area {height: 180px;}
.faq-wrapper li.has-sub a span.icons {height: 48px;width: 48px;border-radius: 3px;background-color: #d9d9d9;display: block; position: absolute;bottom: -1px;right: 0; padding: 16px;}
.faq-wrapper li.has-sub a span.icons span{height: 15px; width: 15px; background-image: url(../images/images.png);background-repeat: no-repeat;background-position: -164px -27px; display: block;}
.faq-wrapper li.has-sub.active a span.icons {background-color: #b70404;}
.faq-wrapper li.has-sub.active a span.icons span{background-position: -189px -27px;}
.faq-wrapper li a .title {padding:14px 20px;display: inline-block;width: 83%;}
.faq-wrapper li.has-sub.active a .title{color: #b70404;}
.form-group.faq textarea {border: 1px solid #c2c2c2;width: 100%;border-radius: 3px; padding: 10px;}
.form-group.faq {margin-bottom: 34px;}
/*Faq page end here*/

/*forget password page start*/
.text-center .forget-pw {float: none;}
.forget-pass-block .form-group label{font-size: 15px;}
.login-wrapper.forget-pass-block{min-height: 680px;}
/*forget password page end*/

/*how it work page start*/
.how-it-work-page .steps-wrapper, .how-it-work-page .img-wrapper{display: inline-block;vertical-align: middle;}
.how-it-work-page .steps-wrapper{width: 50%}
.how-it-work-page .img-wrapper{width: 48%;}
.how-it-work-page {padding: 0 70px;}
.how-it-work-page .img-wrapper img {margin-left: auto;}
.how-it-work-page .img-wrapper.left img {margin-right: auto;margin-left: 0;}
.border-img img {margin: 0 auto;}
.border-img.flip img {-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);
filter: FlipH;-ms-filter: "FlipH";}
.how-it-work-page h4{color: #292929;font-size: 20px;  font-family: 'work_sansmedium',sans-serif;margin: 0;}
.how-it-work-page h2 {font-size: 30px;color: #b70404;margin: 10px 0 15px;font-family: 'work_sansmedium',sans-serif;}
.how-it-work-page p{ font-family: 'work_sanslight', sans-serif;font-size: 15px;}
/*how it work page end*/

/*notification page start here*/
.notification-main-section{padding: 0;}
.notification-block-section {border-bottom: 1px solid #e4e4e4; padding: 10px 25px; position: relative;}
.notification-block-section:hover{background: #fafafa;}
.notification-icon {height: 40px; width: 40px; border-radius: 50%; overflow: hidden; float: left;}
.notification-icon img{width: 100%; height: 100%;}
.notification-content {margin-left: 55px; padding: 0px; position: relative;}
.noti-head {font-family: 'work_sanssemibold', sans-serif; font-size: 15px; color: #333333;}
.notification-block-section:hover .noti-head{color: #b70404;}
.noti-head-content {font-size: 13px; color: #333333; font-family: 'work_sanslight', sans-serif; line-height: 20px;}
.show-hide-text {display: none;}
.view-notification-msg a {color: #b70404; font-family: 'work_sanslight', sans-serif; display: inline-block;}
.notification-content.active .view-notification-msg, .notification-content.active .close-noti {display: none;}
.notification-content.active .show-hide-text {display: inline !important;}
.view-less-btn .less-click {color: #b70404; display: none;}
.notification-content.active .view-less-btn .less-click {display: inline !important;}
.notification-block-section button {border: none; position: absolute; right: -7px; top: 15px; height: 12px; width: 12px; background-image: url(../images/images.png); background-repeat: no-repeat; background-position: -164px -4px; background-color: transparent;}
.notification-block-section:hover button{background-position: -188px -4px;}
/*notification page start here*/

/*terms conditaions page start here*/
.terms-main-section{padding: 30px 0;}
.terms-head-section{font-size: 20px; color: #333333; margin-bottom: 10px;}
.terms-content-section{font-family: 'work_sanslight', sans-serif; font-size: 16px; color: #333333; line-height: 22px;}
.terms-head-content-main{margin-bottom: 30px;}


/* 404-page start here */
.banner-404{background-image: url(../images/404-banner.jpg);background-repeat: no-repeat;background-size: cover; height: 100vh;}
.wrapper-404 {float: none;margin: 150px auto 0;max-width: 750px;text-align: center;}
.wrapper-404 h4 {color: #fff;font-size: 40px;font-family: 'ralewayregular', sans-serif;}
.wrapper-404 h1 {color: #f25144;font-family: 'ralewayregular', sans-serif;font-size: 200px;margin-top: 0;}
.wrapper-404 .direction img {margin: 0 auto;width: 90px;}
.wrapper-404 h5 {color: #fff;font-size: 22px;font-family: 'ralewayregular', sans-serif;padding-top: 10px;line-height: 22px;}
.wrapper-404 .back-btn {background-color: rgba(242, 81, 68, 0.6);border: medium none;border-radius: 50px;color: #fff;margin-top: 40px;padding: 10px 60px;}
.wrapper-404 .back-btn:hover { background-color: rgba(242, 81, 68,1);}
.direction{width: 102px; height: 120px; margin: 0 auto; background-image: url(../images/images.png); background-repeat: no-repeat; background-position: -154px -45px;} 
/* 404-page end here */

/*Post load page start here*/
.login-btn a{height: 40px; border-radius: 25px; width: 100%; display: block; background: #b70404; color: #ffffff; font-size: 16px; font-family: 'work_sanssemibold';
text-transform: uppercase; line-height: 42px; border: 1px solid #b70404; text-align: center; cursor: pointer;} 
.post-load-main{margin: 50px 0;}
.post-load-main .white-main-form{max-width: 970px; width: 100%; margin: 0 auto;}
.post-load-main .check-box{margin-top: 11px;}
.post-load-main .form-right-icon{position: absolute; top: 8px; right: 10px;}
.post-load-main .form-right-icon a{color: #8e8e8e; font-size: 20px;}
.post-load-main .tmf-fees{float: left; font-family: 'work_sansregular', sans-serif; font-size: 15px; color: #363636; max-width: 217px; width: 100%;}
.post-load-main .check-box.margin [type="checkbox"] + label {margin-right: 60px;}
.user-box post-slider .name-labell label{color: #333;font-family: 'work_sansregular', sans-serif; font-size: 15px; font-weight: normal; display: inline-block; 
 margin: 12px 23px 0 0;}
.user-box.post-slider span{color: #333;font-family: 'work_sansregular', sans-serif;font-size: 15px; display: inline-block; vertical-align: middle; 
 margin-right: 10px;}
.user-box.post-slider .max-right{margin-left: 15px;}
.user-box.post-upload label{position: absolute; left: 15px; top: 10px; font-family: 'work_sanslight',sans-serif; font-size: 16px; color: #8e8e8e; font-weight:            normal; transition: 0.5s;}
.user-box.post-slider .ui-widget-header {background-color: #f50001; border-radius: 0px;}
.user-box.post-slider .ui-widget-content{border: none; background-color: #c8c8c8; border-radius: 0px; height: 2px; width: 100%; max-width: 200px;  
 display: inline-block; vertical-align: middle;}
.user-box.post-slider .ui-state-default{border: none; background-color: #f50001; border-radius: 50%; width: 7px; height: 7px; top:-3px; margin-left: -.0em;}
.user-box.post-slider .ui-state-default:before{content: ""; position: absolute; top: -5px; left: -5px; border: 5px solid rgba(245, 0, 1, 0.2); height: 17px; width: 17px; border-radius: 50%;}
.name-labell {color: #333; font-family: 'work_sansregular', sans-serif; font-size: 15px; display: inline-block; margin-right: 30px; vertical-align: middle;}
.user-box.post-slider {margin-top: 10px;}
/*Post load page end here*/



@media all and (max-width:1199px){
/*header start*/
.logo img {width: 140px;}
    .menu-section-block{margin-top: 7px;}
    .blank-div{height: 48px;}
header{padding: 5px 0;}    
/*header end*/    
/*index page start*/    
.home-banner-wrapper .carousel-caption{height: 152px;}    
.home-banner-wrapper .carousel-caption h3 {font-size: 28px;}
.home-banner-wrapper .carousel-caption h1 {font-size: 32px;margin: 10px 0 15px;}
.search-btn{width: 140px;}    
/*index page end*/  
    
    /*login page start here*/
    .login-section{padding: 140px 30px; max-width: 410px;}
    /*login page end here*/
    
    /*about us page start*/
.logistic-block {padding: 25px 0 0 30px;min-height: 407px;}    
.logistic-block h1 {font-size: 30px;line-height: 36px;}    
/*about us page end*/  
/*forget password page start*/
.forget-pass-block .form-group label span{display: none;}
/*forget password page end*/  
    
    
}

@media all and (max-width:991px){
    .menu_name{min-height: 240px;}
    .home-banner-wrapper .carousel-caption h3, .home-banner-wrapper .carousel-caption h1{display:  none;}
    .main-search-box{margin-top: 60px;}
    /*login page start here*/
    .login-banner-block{padding: 40px 0;}
    .login-section{padding: 40px 30px; max-width: 300px;}
    .sign-up-main{height: 930px; padding: 80px 0;}
    
    /*sign up page start here*/
    .select-form-block .form-group{margin-bottom: 30px;}
    .select-form-block.last-select-block .form-group{margin-bottom: 0px;}
    /* sign up page end here*/
    /*closed my load page start here*/
    .transactions-table .table-cell{padding: 3px 15px; border-bottom: 1px solid #f4f4f4;}
    /*closed my load page start here*/
    .table-cell.review-head{width: 170px;}
    .table-cell.vin-number-block{width: 150px;}
    /*closed my load page end here*/
    /*how it work page start*/
.how-it-work-page {padding: 0 0;}    
/*how it work page end*/

}

@media all and (min-width:768px){
    .menu_name{display: block !important; height: auto !important;}
}

@media all and (max-width:767px){
/*header start*/
/*    .mobile-menu{display: block;}*/
.menu-icon {cursor: pointer;display: block;color: #fff;float: right;font-size: 20px;}
.sidenav {height: 100%; width: 0; position: fixed; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s; min-width: auto; padding: 0;}
.sidenav .closebtn{color: #fff;display: block;left: 10px;position: absolute;top: 0;font-size: 30px;cursor: pointer;display: block;}	
.banner-img-block{background-image: url(../images/blurbanner.png); background-position: center center; background-repeat: no-repeat; height: 150px; width: 100%; background-size: cover; margin-bottom: 2px; text-align: center; padding-top: 50px; display: block;}
.sidenav .banner-img-block > img {width: 125px;display: block;margin: 0 auto 0;}      
.login-menu {text-align: left;} 
.login-menu li {display: block;padding-left: 0;border-bottom: 1px solid #242424;}  
    .login-menu li.wrapper-dropdown-1{width: 100%; padding: 10px 15px;}
.login-menu li a {font-size: 14px;font-family: 'work_sansregular',sans-serif;text-transform: capitalize;border: none;
padding: 10px 15px;border-radius: 0;height: auto;}    
.login-menu li a:hover {background-color: transparent;border: none;transition: 0.3s;color: #b70404;}    
    .logo img {width: 100px;}
    /*country drop menu*/
    .wrapper-dropdown-1 .dropdown{transform: translateY(0px); visibility: visible; opacity: 1; position: relative; top: 0; left: 0; padding: 5px 0; margin-top: 10px; display: none;}
    .wrapper-dropdown-1.active .dropdown{display: block;}
    .wrapper-dropdown-1 .dropdown::before{content: none;}
    .wrapper-dropdown-1 .dropdown li a{padding: 10px 15px;}
    .wrapper-dropdown-1 .dropdown li{border: none;}
    .login-menu li.wrapper-dropdown-1.active{padding: 10px 0 0;}
    .login-menu li.wrapper-dropdown-1{padding-left: 0;}
    #new_word{padding: 0 15px;}
    .wrapper-dropdown-1::after{top: 20px;}
/*header end*/ 
/*index page start*/ 
.home-banner-wrapper .carousel-caption {position: relative;padding: 20px 0; height: auto;}    
.home-banner-wrapper .carousel-caption h3 {font-size: 24px;color: #333;}
.home-banner-wrapper .carousel-caption h1 {font-size: 26px;color: #333;}
.main-search-box {max-width: 100%;width: 100%;height: auto;border-radius: 5px;padding-left: 0;position: relative;border: 1px solid #e4e4e4;}  
.main-search-box input, .main-search-box .select-style {width: 100%;display: block;float: none;border-bottom: 1px solid #d5d5d5;
height: 40px;}    
.search-btn {height: 40px;padding: 10px 0;width: 100%;border-radius: 0 0 5px 5px;position: relative;right: auto;top: auto;}    
/*index page end*/ 
    
    /*transportation & cargo section start here*/
    .section-head-block .head-section{font-size: 24px; }
    .section-head-block .head-section span{font-size: 26px;}
    
    /*truck count section start here*/
    .truck-icon-block{display: block; margin: 0 auto 10px;}
    .truck-section-block{margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #f4f4f4;}
    .truck-section-block.customer-section{padding: 0; margin: 0; border: none;}
    
    /*why choose section start here*/
    .book-online-section{margin-bottom: 30px; border-bottom: 1px solid #A71010; padding-bottom: 30px;}
    .book-online-section.tracking-support{margin-bottom: 0; padding-bottom: 0; border: none;}
    .heading-why-choose{font-size: 24px; margin: 0 0 30px;}
    .heading-why-choose span{font-size: 26px;}
    
    /*footer start here*/
    .down-arrow{display: block; float: right;}
    .copyright{margin-top: 30px;}
    /*footer end here*/
    
    /*login page start here*/
    .respo-padd-none{display: none;}
    .login-wrapper::after{content: none;}
    .login-wrapper::before{left: 0;}
    .login-section {padding: 40px 15px; max-width: none;}
    .forget-pw{font-size: 14px;}
    [type="checkbox"] + label{font-size: 15px;}
    .login-section h1{font-size: 32px;}
    .white-main-form .login-btn{display: block; float: none; margin: 0 auto;}
    .white-main-form{padding: 30px 15px;}
    .login-section{min-height: 767px;}
    .sign-up-main .login-section{min-height: auto;}
    .sign-up-main {height: 930px; padding: 20px 0; position: relative; z-index: 9;}   
    .login-wrapper.active .login-section.step-two-form{left: auto; padding-right: 20px;}
    .back-btn-block{top: -166px;}
    /*login page start here*/
    
    /*left bar section*/
    .left-bar-main-section{margin-bottom: 30px;}
    /*left bar section*/
    
    /*rejected my load view details page start here*/
    .review-profile-image{float: none; margin: 0 auto 10px;}
    .review-content-block{margin: 0; text-align: center;}
    .review-rati-grey-text-blo{margin: 0;}
    
    /*about us page start*/
.why-choose-block h1 {font-size: 30px;}    
.why-choose-block {padding: 30px 0 0;}
.why-choose-red-block{padding: padding: 95px 0 70px;}   
.logistick-service-img {position: relative;width: 100%;}
.logistic-block {padding: 0 15px;min-height: auto;margin: 0;}
.logistic-block h1 {font-size: 24px;line-height: 32px;text-align: center;margin: 0 0 10px;}
.testimonial-slider-main{padding: 10px 0;}   
.logistic-block ul li{width: 100%;}    
/*about us page end*/  
/*faq page start*/    
.frequently-as h1 {font-size: 20px;margin: 20px 0 0;}    
.search-block-fag {margin-top: 20px;} 
.faq-wrapper li a .title {padding: 5px 20px;}    
/*faq page end*/    
/*forget password page start*/
.login-wrapper.forget-pass-block{min-height: auto;}
/*forget password page end*/ 
/*how it work page start*/
.how-it-work-page .steps-wrapper, .how-it-work-page .img-wrapper {display: block;width: 100%;text-align: center;}
    .how-it-work-page .img-wrapper img{margin-right: auto;}
    .how-it-work-page .img-wrapper.left img{margin-left: auto;}
/*how it work page end*/  
    
    /*404 page start here*/
    .wrapper-404 h1 {font-size: 110px;}   
.wrapper-404 h4 {font-size: 25px;}
.wrapper-404 h5 {font-size: 16px;}
.wrapper-404 .direction img {width: 80px;}
.wrapper-404 .back-btn {padding: 10px 45px;}
    /*404 page end here*/
    
    /*close my load view section start here*/
    .view-content-txt{margin-bottom: 15px;}
    
}

@media all and (max-width: 716px){
    /*closed my load page start here*/
    .table-row.heading{display: none;}    
    .transactions-table div.table-row{ width: 100%; margin-bottom: 10px;}
    .transactions-table div.table-cell{ display: block; text-align: left; width: 100%; padding: 7px 15px; border-bottom: solid 1px #efefef; font-size: 13px;}
    .transactions-table div.table-cell:first-child { background: #f5f5f5;}
    .transactions-table div.table-cell::before{  margin-right: 12px; color: #222222; padding: 0px; font-size: 11px; font-family: 'work_sanssemibold';  text-transform: uppercase;  display: inline-block;}
    .transactions-table div.table-row:nth-child(odd) {background: #fff;}
    .transactions-table .description{ max-width: 100%; white-space: normal; overflow: visible; display: block;}    
    /*closed my load page page end here*/
    
    /*breadcom-section*/
    .page-head-block{float: none;}
    .breadcome-section{float: none; margin-top: 10px;}
}
