.login-tabs.responsive-tabs.responsive-tabs-initialized{display:block}
.login-tabs.responsive-tabs>div.content{clear:both}
.login-tabs.responsive-tabs.accordion{border:1px solid #e1e1e1;}
.login-tabs.responsive-tabs.accordion>nav{display:none}
.login-tabs.responsive-tabs.accordion h3.accordion-title{margin:0}
.login-tabs.responsive-tabs.accordion h3.accordion-title a{background:#fff;font-weight:400;border-top:1px solid #e1e1e1;padding:10px 15px;display:block;font-size:16px;color:#333;text-decoration:none}
.login-tabs.responsive-tabs.accordion h3.accordion-title:first-child a{border-top:none}
.login-tabs.responsive-tabs.accordion>div.content>section{padding:10px;background:#fff;display:block;border-top:1px solid #e1e1e1; position: relative;}
.login-tabs.responsive-tabs.tabs{border:none}
.login-tabs.responsive-tabs.tabs>nav{display:block}
.login-tabs.responsive-tabs.tabs>nav ul{list-style:none;padding:0;margin:0;border-bottom: 1px solid #dfdfdf;}
.login-tabs.responsive-tabs.tabs>nav ul:after{content:'';display:table;clear:both}
.login-tabs.responsive-tabs.tabs>nav ul li{float:left;font-size:16px; width: 50%}
.login-tabs.responsive-tabs.tabs>nav ul li.active{position:relative;z-index:2;top:2px;margin-top:-2px;border-bottom:1px solid #db1c24;}
.login-tabs.responsive-tabs.tabs>nav ul li a{color:#333;background:#fff;padding:14px 15px;font-size:15px;display:block;text-decoration:none; text-transform: uppercase; font-family: 'work_sansmedium', sans-serif;}
.login-tabs.responsive-tabs.tabs h3.accordion-title{display:none}
.login-tabs.responsive-tabs.tabs>div.content{padding:35px 0;background:#fff; position: relative;}

@media all and (max-width:991px){
    .tabing-section.responsive-tabs.tabs>nav ul li a .tabbing-category{display: block;}
}
@media all and (max-width:767px){
    .tabing-section.responsive-tabs.responsive-tabs-initialized{margin-top: 20px}
    .login-tabs.responsive-tabs.accordion h3.accordion-title a{text-align: left; padding-top: 15px; background-image: url(../images/select-arrow-gray.png); background-position: right center; background-repeat: no-repeat;}
    .login-tabs.responsive-tabs.accordion h3.accordion-title.active a{background-image: url(../images/select-arrow-white.png); background-color: #db1c24; color: #ffffff}
    .login-tabs.responsive-tabs.accordion > div.content > section{padding: 50px 10px}
}