<footer>
        <div class="footer-bg">
            <div class="container">
                <div class="col-sm-4 col-md-3 col-lg-3 footer-menu-section">
                    <div class="footer_heading footer-col-head">
                        <span class="menu-head">Information</span>
                        <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
                        <div class="clr"></div>
                    </div>
                    <div class="menu_name points-footer">
                        <ul>
                            <li><a href="about-us.html"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>About us</span></a></li>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Privacy Policy</span></a></li>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Terms &amp; Conditions</span></a></li>
                            <li><a href="faq.html"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>FAQ's</span></a></li>
                            <li><a href="how-it-work.html"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>How It Works</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 footer-menu-section">
                    <div class="footer_heading footer-col-head">
                        <span class="menu-head">Our Services</span>
                        <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
                        <div class="clr"></div>
                    </div>
                    <div class="menu_name points-footer">
                        <ul>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Returns</span></a></li>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Site Map</span></a></li>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Wish List</span></a></li>
                            <li><a href="javascript:void(0)"><span class="bullet-point"><i class="fa fa-circle"></i></span><span>Order History</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 footer-menu-section">
                    <div class="footer_heading footer-col-head">
                        <span class="menu-head">Contact Info</span>
                        <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
                        <div class="clr"></div>
                    </div>
                    <div class="menu_name points-footer">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-icon-block"><i class="fa fa-map-marker"></i></span>
                                    <span class="address-section-footer">65 Huge Street, Melbourne Victoria 3050 Australia.</span>
                                </a>
                            </li>  
                            <li class="mail-section-block">
                                <a href="mailto:info@drayninja.com">
                                    <span class="menu-icon-block"><i class="fa fa-envelope-o"></i></span>
                                    <span class="address-section-footer">info@drayninja.com</span>
                                </a>
                            </li>  
                            <li class="mail-section-block">
                                <a href="skype:+919599933303?call">
                                    <span class="menu-icon-block"><i class="fa fa-phone"></i></span>
                                    <span class="address-section-footer">(+91) 9599933303</span>
                                </a>
                            </li>                                                      
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 footer-menu-section">
                    <div class="footer_heading footer-col-head">
                        <span class="menu-head">Social Links</span>
                        <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
                        <div class="clr"></div>
                    </div>
                    <div class="menu_name points-footer social-icon-links">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-icon-block"><i class="fa fa-facebook"></i></span>
                                    <span class="address-section-footer">Facebook</span>
                                </a>
                            </li>  
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-icon-block"><i class="fa fa-twitter"></i></span>
                                    <span class="address-section-footer">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-icon-block"><i class="fa fa-linkedin"></i></span>
                                    <span class="address-section-footer">Linkedin</span>
                                </a>
                            </li>  
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="menu-icon-block"><i class="fa fa-google-plus"></i></span>
                                    <span class="address-section-footer">Google Plus</span>
                                </a>
                            </li>                                                   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="copyright-txt">
                        Copyright &copy; 2017 by Webwing technologies.  All Right Reserved.
                    </div>
                </div>
            </div>
            <a class="company-url" href="http://www.webwingtechnologies.com">webwing technologeis</a> 
        </div>
    </footer>
    
<!--Footer Js Hide Show Start Here-->
<script type="text/javascript"> 
    $( ".footer_heading" ).on( "click", function() {
        alert("Hello! I am an alert box!!");
        $(this).toggleClass( "active");
        $(this).next( ".menu_name" ).slideToggle("slow");
        $(this).parent(".footer-menu-section").siblings().find(".menu_name").slideUp();   
        $(this).parent(".footer-menu-section").siblings().children().removeClass("active");
    }); 
</script>
<!--Footer Js Hide Show end Here-->
