<div id="main"></div>
<header>
    <div class="container-fluid">        
        <div class="menu-logo-block">
            <a href="index.html" class="logo"><img src="images/logo.png" class="img-responsive" alt="" /></a>
        </div>
        
        <div class="menu-section-block">
            <span class="menu-icon" onclick="openNav()">&#9776;</span>
            <div class="sidenav" id="mySidenav">
                <a class="closebtn" onclick="closeNav()">&times;</a>
                <div class="banner-img-block">
                    <img src="images/logo.png" alt="" />
                </div>
                <div class="login-menu">
                    <ul>
                       <li class="post-load-bt"><a href="post-load.html">Post New Load</a></li>
                        <li tabindex="1" class="wrapper-dropdown-1" id="dd">
                            <span id="new_word">                                
                                <span><img width="25" height="25" id="run_img" alt="Flag Icon" src="images/us-flag.png" class="flag_icon"></span>                                
                                <span>&nbsp;Eng</span>                                
                            </span>
                            <ul tabindex="1" class="dropdown">                                
                                <li>
                                    <a data-flag="dutch" href="#">
                                        <span><img width="25" height="25" alt="Flag Icon" src="images/us-flag.png" class="flag_icon"></span>
                                        <span>&nbsp;Eng</span>
                                    </a>
                                </li>                                
                                <li>
                                    <a data-flag="german" href="#">
                                        <span><img width="25" height="25" alt="Flag Icon" src="images/spanish.png" class="flag_icon"></span>
                                        <span>&nbsp;Spa</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="login.html">Sign In</a></li>
                        <li><a href="signup.html">Join Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>        
    </div>
</header>
<div class="blank-div"></div>
 
 

<!--footer-country-language-js-start-here-->
<script type="text/javascript" src="js/language_custom.js"></script>
<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });



            obj.opts.on('click', function () {
                var opt = $(this);
                var obj_a = opt.find("a");
                var language_text = obj_a.text();
                $("#new_word").html(obj_a.html());

            });
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-1').removeClass('active');
        });

    });
</script>
<!--footer-country-language-js-close-here-->
<script type="text/javascript">
/*header script end*/        
    function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            $("body").css({
                "margin-left": "250px",
                "overflow-x": "hidden",
                "transition": "margin-left .5s",
                "position": "fixed"
            });
            $("#main").addClass("overlay");


        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $("body").css({
                "margin-left": "0px",
                "transition": "margin-left .5s",
                "position": "relative"
            });
            $("#main").removeClass("overlay");
        }
/*header script end*/  
    </script>

 <!--Sticky Menu-->
      <script type="text/javascript">
         $(document).ready(function() {  
         var stickyNavTop = $('.homepage-header').offset().top;  
           
         var stickyNav = function(){  
         var scrollTop = $(window).scrollTop();  
                
         if (scrollTop > stickyNavTop) {   
             $('.homepage-header').addClass('sticky');  
         } else {  
             $('.homepage-header').removeClass('sticky');   
         }  
         };  
           
         stickyNav();  
           
         $(window).scroll(function() {  
             stickyNav();  
         });  
         })
      </script>	
      <!--Sticky Menu-->