<div class="col-sm-4 col-md-4 col-lg-3">
    <div class="left-bar-main-section">
        <div class="profile-info-block">
            <div class="profile-img-block">
                <img src="images/profile-img.png" alt="" />
            </div>
            <div class="profile-name-block">
                Clyde Meyer
            </div>
            <div class="profile-address-block">
                <i class="fa fa-map-marker"></i> Jacobifort, New York
            </div>
        </div>
        <div class="left-menu-block">
            <ul>
                <li class="main-menu-left-bar">
                    <a class="menu-name-block" href="javascript:void(0)">
                        <span class="hi-icon-wrap hi-icon-effect-8">
                            <span href="#set-8" class="hi-icon hi-icon-archive">Archive</span>
                        </span> <span class="menu-span-main">My Account</span> <span class="arrow-down"><i class="fa fa-angle-right"></i> <i class="fa fa-angle-down"></i> </span>
                    </a>                                    
                    <ul style="display: none;" class="drop-downmenu">
                        <li><a class="drop-menu" href="my-profile-account.html">My Profile</a></li>
                        <li><a class="drop-menu" href="bank-info-account.html">Bank Information</a></li>
                        <li><a class="drop-menu" href="change-password-account.html">Change Password</a></li>
                    </ul>
                </li>
                <li class="main-menu-left-bar my-load-menu">
                    <a class="menu-name-block" href="javascript:void(0)">
                        <span class="hi-icon-wrap hi-icon-effect-8">
                            <span href="#set-8" class="hi-icon hi-icon-archive">Archive</span>
                        </span> <span class="menu-span-main">My Load</span><span class="arrow-down"><i class="fa fa-angle-right"></i> <i class="fa fa-angle-down"></i> </span>
                    </a>                                    
                    <ul style="display: none;" class="drop-downmenu">
                        <li><a class="drop-menu" href="pending-my-load.html">Pending Load</a></li>
                        <li><a class="drop-menu" href="accepted-my-load.html">Accepted Load</a></li>
                        <li><a class="drop-menu" href="closed-my-load.html">Closed Load</a></li>
                        <li><a class="drop-menu" href="reject-my-load.html">Rejected Load</a></li>
                    </ul>
                </li>
                <li class="main-menu-left-bar track-container-block">
                    <a class="menu-name-block" href="track-container.html">
                        <span class="hi-icon-wrap hi-icon-effect-8">
                            <span href="#set-8" class="hi-icon hi-icon-archive">Archive</span>
                        </span> <span class="menu-span-main">Track Container</span>
                    </a>                                                                    
                </li>
                <li class="main-menu-left-bar transaction-block">
                    <a class="menu-name-block" href="my-transaction.html">
                        <span class="hi-icon-wrap hi-icon-effect-8">
                            <span href="#set-8" class="hi-icon hi-icon-archive">Archive</span>
                        </span> <span class="menu-span-main">My Transaction</span>
                    </a>                                                                    
                </li>
                <li class="main-menu-left-bar notification-block">
                    <a class="menu-name-block" href="notification.html">
                        <span class="hi-icon-wrap hi-icon-effect-8">
                            <span href="#set-8" class="hi-icon hi-icon-archive">Archive</span>
                        </span> <span class="menu-span-main">Notification</span>
                    </a>                                                                    
                </li>
            </ul>
        </div>
    </div>
</div>






<script type="text/javascript">
    //left-side bar active class script start here
    var pathname = window.location.pathname;
    var globle_last_param = pathname.substring(pathname.lastIndexOf('/') + 1);
    $('.left-menu-block').find('li > a').each(function(index) {
        var current_url = this.href;
        var current_last_param = current_url.substring(current_url.lastIndexOf('/') + 1);
        if (globle_last_param == current_last_param) {
            $(this).addClass('active');
        } else {
            $(this).removeClass('active');
        }
    });
    //left-side bar active class script start here
</script>

<script>
    $(".menu-name-block").on("click", function(){
        $(this).toggleClass("active");
        $(this).next(".drop-downmenu").slideToggle("slow");
        $(this).parent().siblings().find(".drop-downmenu").slideUp("slow");
        $(this).parent().siblings().find(".menu-name-block").removeClass("active");
    });
    
</script>